.task{
    width: 46rem;
    background: var(--gray-500);

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;

    border-radius: 8px;
    border: 1px solid var(--gray-400);

    padding: 1rem;
}

.task + .task {
    margin-top: 0.75rem;
}

.task p{
    color: var(--gray-100);
    font-weight: 400;
    font-size: 0.875rem;
    width: 39.5rem;
}

.trash-icon:hover{
    color: var(--danger);
    cursor: pointer;
}

.circle-icon:hover{
    color: red;
    cursor: pointer;
}

